@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(315deg, rgba(98,0,10,0.7537313432835822) 0%, rgba(165,165,165,0.7537313432835822) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
  max-width: 1920px;
  font-family: 'Lato', Helvetica, sans-serif;
}

#container{
  border: 2px solid blue;
  margin: 0 2rem;
  min-width: 20rem;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 1.5rem;
}
